 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --gap: 20px;
     --book-text-color: #cbd5e1;
     --margin: 80px;

 }

 .main-content-area {
     height: 100vh;
     display: grid;
     background-color: #171717;
     grid-template-columns: 1fr 1fr;
 }

 .library {
     display: grid;
     grid-template-columns: repeat(auto-fit, 50px);
     grid-auto-rows: 400px;
     gap: var(--gap);
     margin: var(--margin)
 }

 .cover {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: aqua;
     height: 50vh;
     margin: var(--margin);

 }

 .book-info-spine {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     color: var(--book-text-color);
     background-color: #164e63;
     writing-mode: vertical-rl;
 }

 .book-info-cover {}